/* Global Css Here */

.global-container, .global-container-w-full {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
  transition: max-width 0.8s ease-in-out; /* This will apply the transition */
}

.global-container {
  @apply max-w-7xl;
}

.global-container-w-full {
  @apply max-w-full;
}

  .transition-max-height {
    transition: max-height 0.5s ease-in-out;
}

.hover-image {
  transition: transform 0.3s ease; /* Reduced duration */
  transform-style: preserve-3d;
  transform: perspective(1500px) rotateY(0deg) rotateX(0deg) scale(1);
  backface-visibility: hidden;
  
}

.hover-image:hover {
  transform: perspective(1500px) rotateY(20deg) rotateX(20deg) scale(1.05);
}

@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, #b6bbd5, #c7bad5, #c5ccdc, #f4e1de);
  background-size: 400% 400%;
  -webkit-animation: gradientWave 20s ease infinite;
  -moz-animation: gradientWave 20s ease infinite;
  animation: gradientWave 20s ease infinite;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
/* Define your base custom class */
.animated-gradient_2 {
  background: linear-gradient(270deg, #6675b3, #8869a9, #6378a4, #ad7070);
  background-size: 400% 400%;
  -webkit-animation: gradientWave 20s ease infinite;
  -moz-animation: gradientWave 20s ease infinite;
  animation: gradientWave 20s ease infinite;
}

/* Define the dark mode variant */
@layer utilities {
  .dark .animated-gradient_2 {
    /* Define your dark mode gradient here */
    background: linear-gradient(270deg, #181c32, #2a1d3c, #192336, #211212);
    background-size: 400% 400%;
    -webkit-animation: gradientWave 20s ease infinite;
    -moz-animation: gradientWave 20s ease infinite;
    animation: gradientWave 20s ease infinite;
  }
}

.animated-gradient_sideBar {
  background: linear-gradient(270deg, #42475a, #544762, #4b5468, #614e4e);
  background-size: 400% 400%;
  -webkit-animation: gradientWave 20s ease infinite;
  -moz-animation: gradientWave 20s ease infinite;
  animation: gradientWave 20s ease infinite;
}

/* Define the dark mode variant */
@layer utilities {
  .dark .animated-gradient_sideBar {
    /* Define your dark mode gradient here */
    background: linear-gradient(270deg, #171b31, #261a38, #152033, #200f0f);
    background-size: 400% 400%;
    -webkit-animation: gradientWave 20s ease infinite;
    -moz-animation: gradientWave 20s ease infinite;
    animation: gradientWave 20s ease infinite;
  }
}


.animated-gradient_3 {
  background: linear-gradient(270deg, #909ace, #b594d8, #93a4c9, #bd9999);
  background-size: 400% 400%;
  -webkit-animation: gradientWave 5s ease infinite;
  -moz-animation: gradientWave 5s ease infinite;
  animation: gradientWave 5s ease infinite;
}


@keyframes gradientWaveText {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-gradient-text {
  background: linear-gradient(270deg, #e42121, #43b364, #666dd1);
  background-size: 400% 400%;
  -webkit-animation: gradientWaveText 8s ease infinite;
  -moz-animation: gradientWaveText 8s ease infinite;
  animation: gradientWaveText 8s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.animated-gradient-text-2 {
  background: linear-gradient(270deg, #9D50BB, #dd9da4);
  background-size: 400% 400%;
  -webkit-animation: gradientWaveText 8s ease infinite;
  -moz-animation: gradientWaveText 8s ease infinite;
  animation: gradientWaveText 8s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}